#page-container {
  position: relative;
  min-height: 100vh;
}

.nuc-container {
    padding-bottom: 4em;
    width: 60%;
    margin: auto;
}
  
@media only screen and (max-width: 800px) {
  .nuc-container {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .nuc-container {
    width: 80%;
  }
}


 #root {
   font-family: "Mulish";
  }