.room-card-container {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 65px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.rc-end-time {
    float: right;
}

.rc-start-time {
    float: left;
}

.room-card-content {
    padding-top: 10px;
}
