.timebar-container {
    min-width: 100%;
    min-height: 20px;
    padding-top: 10px;
}

.occupied {
    background-color: red;
    float: left;
}

.vacant {
    background-color: whitesmoke;
    float: left;
}