.room-card-container {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 65px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.rc-end-time {
    float: right;
}

.rc-start-time {
    float: left;
}

.room-card-content {
    padding-top: 10px;
}

.room-card-content.rc-header {
    word-wrap: normal;
    width: 50%;
}

div.status-container {
    float: right;
}

span.status-text {
    float: left;
}

.status-icon {
    padding-top: 5px;
    padding-left: 10px;
    background-color: white;
}

.status-icon.busy {
    color: red;
}
.status-icon.open {
    color: green;
}