.search-container {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    border: 1px #dbdbdb solid;
}

.search-error,
.search-error:hover {
    box-shadow: 0px 0px 3px 1.5px #C21626!important;
    transition: all .2s;
}


.search-container:hover,
.search-container::selection {
    box-shadow: 0px 0px 3px 1.5px #c4c4c4;
    border: 1px #ffffff solid;
    transition: all .2s;
}

#search {
    font-size: 40pt;
    width: 100%;
    width: inherit;
    top:8px;
    position:relative;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-input-container {
    float: left;
    width: 90%;
}
@media only screen and (max-width: 800px) {
    .search-input-container {
        width: 80%;
    }
    #search {
        top: 4px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .search-input-container{
        width: 80%;
    }
    #search {
        top: 4px;
    }
  }
  
.search-button-container {
    float: left;
    height: 40px;
}

.search-button-container:hover {
    cursor: pointer;
}
  
#search-btn {
    padding: 10.5px;
    padding-right: unset;
    color: rgb(112, 111, 111);
    font-size: 20px;
}

#search-btn:hover {
    color: #C21626;
}
  
.room-search-bar::placeholder {
    color: #000000;
    filter: opacity(0.5);
}
